<h1>Registro</h1>
<form action = '/registro' method = 'POST'>
    <label for = 'nome'>Nome: </label>
    <input type = 'text' name = 'nome' placeholder = 'Nome'>
    <label for = 'sobrenome'>Sobrenome: </label>
    <input type = 'text' name = 'sobrenome' placeholder = 'Sobrenome'>
    <label for = 'email'>Email: </label>
    <input type = 'text' name = 'email' placeholder = 'Email'>
    <label for = 'senha'>Senha: </label>
    <input type = 'password' name = 'senha' placeholder = 'Senha'>
    <button type="submit">Registrar</button>

    </form>
    <a href = '/login'>Já tem uma conta? Faça Login</a>